body{
    background: rgb(255, 255, 255);
}
header{
    color:rgb(255, 15, 73);
    border-bottom: solid 3px black;
    margin: px;

}

.subtitulo{
    font-size: larger;
    margin: 35px;
    
}